@use 'base/variables' as v;
@use 'base/mixins' as m;

.blogs{
    &__grid{
        @include m.grid (1,1rem);
        @include m.tablet {
            @include m.grid (3,1rem);
        }
    }
}

.blog{ 
    position: relative;

    &:hover .imagen {
        img {
            transform: scale(1.1);
        }
        .iconos{
            transform: translateY(0);
        }
    }

    .imagen {
        height: 25rem;
        overflow: hidden;
        position: relative;
        .iconos{
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 2rem;
            background-color: v.$negro;
            position: absolute;
            bottom: 0;left: 0;right: 0;
            z-index: 10;
            transform: translateY(10rem);
            transition: .2s linear;

            a{
                font-size: 1.5rem;
                color: v.$blanco;
                i{
                    padding-right: .5rem;
                    color: v.$primario;
                }

                &:hover {
                    color: v.$primario;
                }
            }
        }
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            transition: .2s linear;
        }
    }

    .contenido {
        text-align: center;
        padding: 2rem;

        h3 {
            font-size: 2rem;
            text-transform: uppercase;
            color:v.$blanco;
            margin: 0;
        }
        p{
            font-size: 1.5rem;
            line-height: 2;
            color:v.$grisLight;
        }
    }
}